{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}

{% endblock %}

{% block side_bar_nav %}
    {{ parent() }}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            <li>
                <a href="{{ url('sonata_admin_calendar') }}">Calendar</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}