#calendar{
    margin-top: 30px;
}
#calendar tr{
    height: 43px;
}
#calendar .teacher{
    font-weight: bold;
    color: #eee;
    font-size: 0.8em;
    text-align: right;
}
#calendar .auditory{
    color: black;
    font-size: 15px;
    text-align: right;
}
#calendar .practice{
    background: rgb(50, 100, 200);

}
#calendar .lecture,#calendar .practice{
    border: 1px solid #ccc;
}
#calendar .lecture{
    background: #3c8dbc;
}
#calendar .practice .fc-title::after{
    content: ' (Практика)';
    font-size: 0.7em;
    color: black;
}
#calendar .fc-today{
    background-color: rgba(0,172,214,0.2);
}

#calendar .fc-event{
    font-size: 0.9em;
    font-weight: 700;
    color: #000;
}
#calendar .fc-time{
    font-size: 1.2em;
    color: black;
}
#calendar .fc-title{
    color: #eee;
}