.calendar-container{
    background: white;
    position: relative;
    z-index: 100000;
}
.dropdown-menu.inner{
    position: relative;
}
body{
    position: relative;
    background: white;
}
h1.timetable-title{
    text-align: center;
    font-family: 'PT Serif','PT Serif1', serif;
    font-weight: 500;
}
#calendar{
    margin-top: 30px;
}
#calendar tr{
    height: 40px;
}
#calendar .teacher{
    color: black;
    font-weight: bold;
}
#calendar .auditory{
    color: white;
}
#calendar .auditory::after{
    content: ' аудиторія';
}
#calendar .practice{
    background: chocolate;
}

.calendar-page .content-wrapper{
    background: white;
}
.group-select:first-child{
    border-top: black 1px solid;
}
.group-select{
    border-bottom: black 1px solid;
}
.faculty-select{
    border-bottom: 1px dashed white;
}

#calendar .fc-today{
    background-color: rgba(0,172,214,0.2);
}
#calendar .fc-event{
    font-size: 0.9em;
    font-weight: 700;
    color: #000;
}
#calendar .fc-time{

}
.calendar-header{
    background: white;
    -webkit-box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.5);
    border-top: 1px dashed rgba(0,0,0,0.2);
    /*background: #eee;*/
}
.header-calendar-checked .hover{
    cursor: pointer;
}