<header class="main-header">
    <a href="#" class="logo">
            <span class="logo-mini">
                <i class="fa fa-calendar"></i>
                </span>
            <span class="logo-lg">
                <i class="fa fa-calendar"></i>
                Розклад
            </span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <div class="sticky-menu"></div>
        </div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <div>
            <groupselect></groupselect>
        </div>
    </section>
</aside>
<div class="content-wrapper ">
    <section class="content">
        <div ng-view></div>
    </section>
</div>
