h1.timetable-title {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: 500;
}
h1 {
    font-family: 'PT Serif', serif;
    font-weight: 500;
}
.group-select:first-child {
    border-top: black 1px solid;
}
.calendar-page .content-wrapper{
    background-color: white;
}

.group-select {
    border-bottom: black 1px solid;
}

.faculty-select {
    border-bottom: 1px dashed white;
}
.app-content{
    background-color: white;
}

.calendar-page .body-content{
    position: relative;
}

html,body, [ng-view]{
    height: 100%;
}
.home, .home .block-first, .home .block-two{
    height: 100%;
}
.home.row{
    margin-bottom: 0;
}
.home, .home .block-first .inner-wrapper{
    width: 100%;
}